<div class="container">

  <h1>Listando Perguntas</h1>
    
  <%= link_to new_admins_backoffice_subject_path do %>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-success" type="button">Criar Nova Perguntas</button>
    </div>               
  <% end %>
      
      
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Pergunta</th>
        <th scope="col">Assunto</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
      <tr>
        <th scope="row"><%= question.id %></th>
        <td><%= question.description.truncate(50) %></td>
        <td><%= question.subject.description.truncate(30) %></td>
        <td>
          <%= link_to edit_admins_backoffice_question_path(question)  do %>
              <button class="btn btn-primary" type="button">Editar</button>
          <% end %>
        </td>
        <td>
          <%= link_to admins_backoffice_question_path(question), method: :delete, data: { confirm: "Deseja realmente excluir esta pergunta?"}  do %>
              <button class="btn btn-danger" type="button">Deletar</button>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-grid gap-2 col-6 mx-auto" >
      <%= paginate @questions %>
  </div>

  <%= link_to admins_backoffice_welcome_index_path do %>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button class="btn btn-primary" type="button">Voltar para admins_backoffice</button>
    </div>               
  <% end %>

</div>